/* ------------fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merriweather:wght@700&family=Poppins:wght@500&family=Righteous&family=Rubik:ital,wght@1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(161, 140, 140);
}

/* ------top-banner section css style-------- */
.container{
    height: 550px;
    background-color: black;
    margin: 100px;
    border-radius: 10px;
}
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 350px;
    padding: 20px;
}
.banners{
    color: white;
    padding: 50px;
}
.text-one{
    font-size: 55px;
}
.paragraph{
    font-size: 18px;
}
.link-btn{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background: red;
    font-size: 22px;
    color: white;
}
.banner img{
    height: 530px;
}


/* blogs section css style */
.main-container{
    background-color: white;
    margin: 100px;
    border-radius: 10px;
}
.containers{
    display: flex;
    column-gap: 30px; 
}
.links{
    display: block;
    width: 25%;
    height: 340px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}
.link{
    padding: 20px;
    margin: 30px;
    background: white;
    border-radius: 10px;
}

.link a{
    text-decoration: none;
    color: red;
    font-size: 22px;
    font-weight: bold;
}
.link:hover{
    background: rgb(0, 47, 255);
    color: white;
}

.image-width{
    width: 100%;
    padding-bottom: 10px;
}
.blogs{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.blog{
    margin-bottom: 30px;
    padding: 0px 10px 30px 10px;
    box-shadow: 0px 2px 2px;
    border-radius: 5px;
}
button{
    padding: 5px;
    font-size: 22px;
    border-radius: 5px;
}
.text-two{
    margin: 10px 0px 15px;
    font-size: 24px;
    color: black;
}
.text-tree{
    margin-right: 100px;
}

/* footer section css style */
.footer-area{
    text-align: center;
    color: white;
    background-color: black;
}
h3{
    font-size: 45px;
    padding: 60px 0px 30px;
}

.footer-link{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.text-four a{
    text-decoration: none;
    color: white;
    padding-right: 30px;
}
.feild{
    padding: 0px 30px 60px;
    font-size: 30px;
}




/* Upcomming Match page css style */
.flags{
    display: flex;
    align-items: center;
}
.flag{
    width: 50%;
    padding: 10px;
}
h4{
    color: black;
}
.text-five{
    padding-top: 20px;
    text-align: center;
    color: black;
}